<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Citas</title>
    <link rel="stylesheet" href="../Styles/mngshift.css">
    <link rel="shortcut icon" href="../Img/logo.png" type="image/x-icon">
</head>
<body>
    <header class="navbar">
        <div class="logo-section">
            <h1>Clínica Dental</h1>
        </div>
        <div class="user-info">
            <span><button><a href=" ">Administrador</a> </button></span>
        </div>
    </header>

    <div class="main-container">
        <aside class="sidebar">
            <div class="sidebar-title">Funciones</div>
            <nav class="menu-list">
                <a href="registerOwner.html" class="menu-item"><i class="fa-solid fa-users-gear"></i><span>Registrar Paciente</span></a>
                <a href="managePersonnel.html" class="menu-item"><i class="fa-solid fa-users-gear"></i><span>Gestionar personal</span></a>
                <a href="mngProviders.html" class="menu-item"><i class="fa-solid fa-box"></i><span>Gestionar proveedores</span></a>
                <a href="mngMedications.html" class="menu-item"><i class="fa-solid fa-pills"></i><span>Gestionar medicamentos</span></a>
                <a href="generateReport.html" class="menu-item"><i class="fa-regular fa-file-lines"></i><span>Generar reportes</span></a>
                <a href="mngShifts.html" class="menu-item"><i class="fa-regular fa-clock"></i><span>Gestionar turnos</span></a>
                <a href="registerSurgery.html" class="menu-item"><i class="fa-solid fa-paw"></i><span>Registrar Cirugías</span></a>
                <span class="menu-item-active"><i class="fa-regular fa-calendar-days"></i><span>Gestionar citas</span></span>
                <a href="generateInvoice.html" class="menu-item"><i class="fa-solid fa-dollar-sign"></i><span>Generar factura</span></a>
                <a href="registerPayment.html" class="menu-item"><i class="fa-regular fa-credit-card"></i><span>Registrar pago parcial</span></a>
                <a href="viewHistory.html" class="menu-item"><i class="fa-solid fa-history"></i><span>Consultar historial</span></a>
            </nav>
        </aside>
        <main class="content-area">
            <h2>Gestionar Citas</h2>
            <!-- Contenido de la página de gestión de citas -->
        </main>
    </div>

    <div class="footer">
        <p>&copy; 2026 Clínica Dental. Todos los derechos reservados.</p>
    </div>

</body>
</html>