<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Medicamentos</title>
    <link rel="stylesheet" href="../Styles/mngmedics.css">
    <link rel="shortcut icon" href="../Img/logo.png" type="image/x-icon">
</head>
<body>
    <header class="navbar">
        <div class="logo-section">
            <h1>Clínica Dental</h1>
        </div>
        <div class="user-info">
            <span><button><a href=" ">Administrador</a> </button></span>
        </div>
    </header>

    <div class="main-container">
        <aside class="sidebar">
            <div class="sidebar-title">Funciones</div>
            <nav class="menu-list">
                <a href="registerOwner.html" class="menu-item"><i class="fa-solid fa-users-gear"></i><span>Registrar Paciente</span></a>
                <a href="managePersonnel.html" class="menu-item"><i class="fa-solid fa-users-gear"></i><span>Gestionar personal</span></a>
                <a href="mngProviders.html" class="menu-item"><i class="fa-solid fa-box"></i><span>Gestionar proveedores</span></a>
                <span class="menu-item-active"><i class="fa-solid fa-pills"></i><span>Gestionar medicamentos</span></span>
                <a href="generateReport.html" class="menu-item"><i class="fa-regular fa-file-lines"></i><span>Generar reportes</span></a>
                <a href="mngShifts.html" class="menu-item"><i class="fa-regular fa-clock"></i><span>Gestionar turnos</span></a>
                <a href="registerSurgery.html" class="menu-item"><i class="fa-solid fa-paw"></i><span>Registrar Cirugías</span></a>
                <a href="mngAppointments.html" class="menu-item"><i class="fa-regular fa-calendar-days"></i><span>Gestionar citas</span></a>
                <a href="generateInvoice.html" class="menu-item"><i class="fa-solid fa-dollar-sign"></i><span>Generar factura</span></a>
                <a href="registerPayment.html" class="menu-item"><i class="fa-regular fa-credit-card"></i><span>Registrar pago parcial</span></a>
                <a href="viewHistory.html" class="menu-item"><i class="fa-solid fa-history"></i><span>Consultar historial</span></a>
            </nav>
        </aside>

        <main class="content-area">
            <h2>Gestionar Medicamentos</h2>
            <form class="register-form">
                <button type="submit">Agregar Medicamento</button>
                <div id="modalForm" class="modal">
                    <div class="modal-content">
                        <span class="close-btn">&times;</span>
                        <h2>Añadir Nuevo Proveedor</h2>
                        <form id="addProviderForm">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" id="newMedicName" required placeholder="Ej. Medicamento XYZ">
                            </div>
                            <div class="form-group">
                                <label>Tipo:</label>
                                <input type="text" id="newMedicType" required placeholder="Ej. Antiinflamatorio">
                            </div>
                            <div class="form-group">
                                <label>Stock:</label>
                                <input type="number" id="newMedicStock" required placeholder="Ej. 100">
                            </div>
                            <div class="form-group">
                                <label>Precio:</label>
                                <input type="number" id="newMedicPrice" required placeholder="Ej. 15.99">
                            </div>
                            <button type="submit" class="btn-submit">Guardar Medicamento</button>
                        </form>
                    </div>
                </div>

                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="medic-body"></tbody>
                </table>
            </form>
        </main>
    </div>

    <div class="footer">
        <p>&copy; 2023 Clínica Dental. Todos los derechos reservados.</p>
    </div>

    <script src="../Js/medics.js"></script>
</body>
</html>