<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Mascota</title>
    <link rel="stylesheet" href="../Styles/rgtpet.css">
    <link rel="shortcut icon" href="../Img/logo.png" type="image/x-icon">
</head>
<body>
    <header class="navbar">
        <div class="logo-section">
            <h1>Clínica Dental</h1>
        </div>
        <div class="user-info">
            <span><button><a href=" ">Administrador</a> </button></span>
        </div>
    </header>

    <div class="main-container">
        <aside class="sidebar">
            <div class="sidebar-title">Funciones</div>
            <nav class="menu-list">
                <a href="registerOwner.html" class="menu-item"><i class="fa-solid fa-users-gear"></i><span>Registrar Paciente</span></a>
                <a href="managePersonnel.html" class="menu-item"><i class="fa-solid fa-users-gear"></i><span>Gestionar Personal</span></a>
                <a href="mngProviders.html" class="menu-item"><i class="fa-solid fa-box"></i><span>Gestionar Proveedores</span></a>
                <a href="mngMedications.html" class="menu-item"><i class="fa-solid fa-pills"></i><span>Gestionar Medicamentos</span></a>
                <a href="generateReport.html" class="menu-item"><i class="fa-regular fa-file-lines"></i><span>Generar Reportes</span></a>
                <a href="mngShifts.html" class="menu-item"><i class="fa-regular fa-clock"></i><span>Gestionar Turnos</span></a>
                <span class="menu-item-active"><i class="fa-solid fa-paw"></i><span>Registrar Cirugías</span></span>
                <a href="mngAppointments.html" class="menu-item"><i class="fa-regular fa-calendar-days"></i><span>Gestionar citas</span></a>
                <a href="generateInvoice.html" class="menu-item"><i class="fa-solid fa-dollar-sign"></i><span>Generar factura</span></a>
                <a href="registerPayment.html" class="menu-item"><i class="fa-regular fa-credit-card"></i><span>Registrar pago parcial</span></a>
                <a href="viewHistory.html" class="menu-item"><i class="fa-solid fa-history"></i><span>Consultar historial</span></a>
            </nav>
        </aside>

        <main class="content-area">
            <h2>Registrar Cirugía</h2>
            <form class="register-form">
                <label for="Name">Nombre del paciente:</label>
                <input type="text" id="Name" name="Name" required>

                <label for="type">Tipo de Cirugía:</label>
                <input type="text" id="type" name="type" required>

                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description" required>

                <label for="Age">Edad:</label>
                <input type="text" id="Age" name="Age" required>

                <label for="surgeon">Cirujano:</label>
                <input type="text" id="surgeon" name="surgeon" required>

                <button type="submit">Registrar</button>
            </form>
        </main>
    </div>

    <div class="footer">
        <p>&copy; 2026 Clínica Dental. Todos los derechos reservados.</p>
    </div>

</body>
</html>